<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBlog.com</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="js/main.js"></script>
</head>
<body>
    <h1 class="welcome">Welcome to our <span class="highlights">Blog Site!</span></h1>
    <form action="/newsfeed" method="POST" id="loginForm" class="loginForm" name="loginForm">
        <input type="text" placeholder="User name" id="userName" class="nameField" name="userName" autocomplete="off">
        <input type="password" placeholder="Password" id="userPass" class="passwordField" name="userPass" autocomplete="off">
        <button class="btnSubmit">Submit</button>
    </form>
</body>
</html>