<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myBlog.com</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
</head>
<body>
    <form action="/newsfeed" method="POST" id="blogForm" class="blogForm" name="blogForm">
        <input type="text" placeholder="Blog title" id="blogTitle" class="titleField" name="blogTitle" autocomplete="off">
        <input type="text" placeholder="Blog description" id="blogDescription" class="descriptionField" name="blogDescription" autocomplete="off">
        <button class="btnSubmit">Submit Your Blog</button>
    </form>
</body>
</html>